/* Write your CSS here */
.container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box {
  background-color: #ffffff;
  height: 400px;
  width: 500px;
  border: 1px solid black;
  box-shadow: 10px 5px 5px 5px 5px slategrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  color: #0b69ff;
  font-size: 35px;
}
button {
  color: #ffffff;
  background-color: #0b69ff;
  width: 130px;
  height: 40px;
  border-radius: 8px;
}
